[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]



[dev-packages]

pytest = "*"
django = "*"
dj-database-url = "*"
whitenoise = "*"
gunicorn = "*"
twine = "*"
